import Foundation
import Jigra

/**
 * Please read the Jigra iOS Plugin Development Guide
 * here: https://jigrajs.web.app/docs/plugins/ios
 */
@objc({{{ CLASS }}}Plugin)
public class {{{ CLASS }}}Plugin: JIGPlugin {
    private let implementation = {{{ CLASS }}}()

    @objc func echo(_ call: JIGPluginCall) {
        let value = call.getString("value") ?? ""
        call.resolve([
            "value": implementation.echo(value)
        ])
    }
}
